<!DOCTYPE html>
<html>
  <head>
    <title>QuiltView</title>
    <!-- Bootstrap -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/css/docs.css" rel="stylesheet">
    <link href="/static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <style>
        #map_canvas {
          width: 500px;
          height: 400px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        var map;
        function initialize() {
          var map_canvas = document.getElementById('map_canvas');
          var map_options = {
              center: new google.maps.LatLng(40.442758, -79.942338),
              zoom: 16,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(map_canvas, map_options)
          var opt = { minZoom: 14, maxZoom: 17 };
          map.setOptions(opt);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        function read_map() {
          var query_location = document.getElementById('query_location');
          var center = map.getCenter();
          var bounds = map.getBounds();
          var NE = bounds.getNorthEast();
          var SW = bounds.getSouthWest();
          query_location.value = "https://maps.google.com/?" +
              "ll=" + center.lat() + "," + center.lng()  + 
              "&spn=" + (NE.lat()-SW.lat()).toString() + "," + (NE.lng()-SW.lng()).toString() + 
              "&z=" + map.getZoom();
          //alert(query_location.value);
        }
    </script>

    <!-- for toggle visibilities of query options -->
    <script>
      function initialize_visibility() {
        document.getElementById('opt1').style.display = 'none';
        document.getElementById('opt2').style.display = 'none';
        document.getElementById('opt3').style.display = 'none';
        document.getElementById('opt4').style.display = 'none';
        document.getElementById('opt5').style.display = 'none';
      }
      function toggle_visibility() {
        var e = document.getElementById('opt1');
        if(e.style.display == 'none') {
          document.getElementById('opt1').style.display = 'block';
          document.getElementById('opt2').style.display = 'block';
          document.getElementById('opt3').style.display = 'block';
          document.getElementById('opt4').style.display = 'block';
          document.getElementById('opt5').style.display = 'block';
          document.getElementById('toggle_click').innerHTML = "Show less options";
        } else {
          document.getElementById('opt1').style.display = 'none';
          document.getElementById('opt2').style.display = 'none';
          document.getElementById('opt3').style.display = 'none';
          document.getElementById('opt4').style.display = 'none';
          document.getElementById('opt5').style.display = 'none';
          document.getElementById('toggle_click').innerHTML = "Show more options";
        }
      }
    </script>
  </head>

  <body onload="initialize_visibility()">

    <header>
      <h1>Make your query at QuiltView!</h1>
      <div>
        {% if user.is_authenticated %}
          You are now logged in as {{ user.email }}.
          <a href="/logout" class="browserid-logout">Log Out</a>
        {% else %}
          <a id="browserid" href="#">Sign In</a>
          <form method="POST" action="{% url browserid_verify %}">
            {% csrf_token %}
            {{ browserid_form.as_p }}
          </form>
        {% endif %}
      </div>
    </header>

    <div id="map_canvas"></div>
    <hr>
    <form action="/query/" enctype="multipart/form-data" method="post" onsubmit="read_map()">
    {% csrf_token %}
    <h3>Write your query below: </h3>
    <div class="fieldWrapper"> 
      <input type="text" class="input-xxlarge" name="query_content" placeholder="e.g. What is the weather">
      <!-- {{ form.query_content }} -->
      <b>?</b>
    </div>
    <div class="fieldWrapper" id='opt1'>
      <b>Timeout: </b> {{ form.time_out_n }} {{ form.time_out_unit }}
    </div>
    <div class="fieldWrapper" id='opt2'>
      <b>Accepted staleness: </b> {{ form.accepted_staleness_n }} {{ form.accepted_staleness_unit }}
    </div>
    <div class="fieldWrapper" id='opt3'>
      <b>Reward: </b> {{ form.reward }}
    </div>
    <div class="fieldWrapper" id='opt4'>
      <b>Expected replies: </b> {{ form.expected_reply }}
    </div>
    <div class="fieldWrapper" id='opt5'>
      <b>You can also include an image in your query:</b> {{ form.upload_file }}
    </div>
    <a id="toggle_click" href="#" onclick="toggle_visibility();">Show more options</a>
    <input type="hidden" name="user_email" value="{{ user.email }}" />
    <input type="hidden" name="query_location" id="query_location"/>
    <p>
      <button class="btn" type="submit" name="post" value="False">Check existing</button>
      <button class="btn btn-primary" type="submit" name="post" value="True">Submit</button>
    </p>
    </form>

    {% if is_error %}
      <hr>
      {{ error_message }}
    {% endif %}

    {% if is_post %}
      <hr>
      Your query "{{ query.content }}" has been sent. <br>
      Location has been identified as ({{ query.interest_location_lat }}, {{ query.interest_location_lng }})
      
    {% endif %}

    {% if is_cache %}
      <hr>
      <p>
        We have found similar queries in our system. You can view responses of these matched queries through the following links<br>
        {% for query in queries %}
          {% if query.is_query_image %}
            <img src="/static/query_images/query_{{ query.id }}.jpg" height="64" width="64" class="img-polaroid">
          {% endif %}
          "{{ query.content }}" (posted at {{ query.requested_time }} by {{ query.requester.google_account }}) <a href="/response?query_id={{ query.id }}">view responses</a> <br>
        {% endfor %}
        You can also <a href="/reload?{{ parameter }}">reload here</a>
      </p>
    {% endif %}

    {% if is_check %}
      <hr>
      <p>
        {{ query_count }} queries exist in our database. Here's the first {{ queries|length }}.
      </p>
    {% load tz %}
        {% for query in queries %}
          {% if query.is_query_image %}
            <img src="/static/query_images/query_{{ query.id }}.jpg" height="64" width="64" class="img-polaroid">
          {% endif %}
          {{ query.content }} at ({{ query.interest_location_lat }}, {{ query.interest_location_lng }})? (posted at {{ query.requested_time }} by {{ query.requester.google_account }})  <a href="/response?query_id={{ query.id }}">view responses</a> 
          <br>
        {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/assets/js/bootstrap.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#browserid').bind('click', function(e) {
          e.preventDefault();
          navigator.id.getVerifiedEmail(function(assertion) {
            if (assertion) {
              var $e = $('#id_assertion');
              $e.val(assertion.toString());
              $e.parent().submit();
            }
          });
        });
      });
    </script>
  </body>
</html>
