<!DOCTYPE html>
<html>
  <head>
    <title>QuiltView</title>
    <!-- Bootstrap -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/css/docs.css" rel="stylesheet">
    <link href="/static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Make your query at QuiltView!</h1>
      <div>
        {% if user.is_authenticated %}
          Hello {{ user.email }}
          <a href="/logout" class="browserid-logout">Log Out</a>
        {% else %}
          <a id="browserid" href="#">Sign In</a>
          <form method="POST" action="{% url browserid_verify %}">
            {% csrf_token %}
            {{ browserid_form.as_p }}
          </form>
        {% endif %}
      </div>
    </header>
    <form action="/query" method="get">
    {% csrf_token %}
      <input type="hidden" name="user_email" value="{{ user.email }}" />
      <div>
        <div class="row-fluid">
          <div class="span3">
            <b>Write your query below: </b>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <input type="text" name="query_content" placeholder="e.g. What is the weather">
            at      
            <input type="text" name="query_location" placeholder="Pittsburgh">
            ?
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-lg-2">
            <b>Timeout: </b> 
            <input type="text" class="form-control" name="time_out_n" placeholder="10">     
            <select>
              <option>Minutes</option>
              <option>Hours</option>
              <option>Days</option>
            </select>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-lg-2">
            <b>Accepted staleness: </b>
            <input type="text" class="form-control" name="accepted_staleness_n" placeholder="10">
            <select>
              <option>Minutes</option>
              <option>Hours</option>
              <option>Days</option>
            </select>
          </div>
        </div>

        <div class="row-fluid">
          <div class="col-lg-2">
            <b>Reward: </b>
            <input type="text" class="form-control" name="reward" placeholder="1">
          </div>
        </div>

      </div>

      <p>
        <button class="btn" type="submit" name="post" value="False">Check existing</button>
        <button class="btn btn-primary" type="submit" name="post" value="True">Submit</button>
      </p>
    </form>

    {% if is_login_error %}
      <hr>
      Login error: You have to sign in before posting a query.
    {% endif %}

    {% if is_post %}
      <hr>
      Your query "{{ query.content }}" has been sent. <br>
      Location has been identified as ({{ query.interest_location_lat }}, {{ query.interest_location_long }})
      
    {% endif %}

    {% if is_cache %}
      <hr>
      <p>
        We found a similar query in our system: "{{ query.content }}" <br>
        You can view responses of the matched query <a href="/response?query_id={{ query.id }}">here</a> <br>
        Or <a href="/query?{{ parameter }}">reload here</a>
      </p>
    {% endif %}

    {% if is_check %}
      <hr>
      <p>
        {{ query_count }} queries exist in our database. Here's the first {{ queries|length }}.
      </p>
    {% load tz %}
        {% for query in queries %}
          {{ query.content }} (posted at {{ query.requested_time }} by {{ query.requester.google_account }})  <a href="/response?query_id={{ query.id }}">view responses</a> 
          <br>
        {% endfor %}
    {% endif %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/assets/js/bootstrap.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#browserid').bind('click', function(e) {
          e.preventDefault();
          navigator.id.getVerifiedEmail(function(assertion) {
            if (assertion) {
              var $e = $('#id_assertion');
              $e.val(assertion.toString());
              $e.parent().submit();
            }
          });
        });
      });
    </script>
  </body>
</html>
