<!DOCTYPE html>
<html>
  <head>
    <title>QuiltView</title>
    <!-- Bootstrap -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/css/docs.css" rel="stylesheet">
    <link href="/static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>Make your query at QuiltView!</h1>
      <div>
        {% if user.is_authenticated %}
          Hello {{ user.email }}
          <a href="/logout" class="browserid-logout">Log Out</a>
        {% else %}
          <a id="browserid" href="#">Sign In</a>
          <form method="POST" action="{% url browserid_verify %}">
            {% csrf_token %}
            {{ browserid_form.as_p }}
          </form>
        {% endif %}
      </div>
    </header>
    <form action="/query/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="row-fluid">
      <div class="span3">
        <b>Write your query below: </b>
      </div>
    </div>
    <div class="fieldWrapper"> 
      {{ form.query_content }} at {{ form.query_location}} ?
    </div>
    <div class="fieldWrapper">
      <b>Timeout: </b> {{ form.time_out_n }} {{ form.time_out_unit }}
    </div>
    <div class="fieldWrapper">
      <b>Accepted staleness: </b> {{ form.accepted_staleness_n }} {{ form.accepted_staleness_unit }}
    </div>
    <div class="fieldWrapper">
      <b>Reward: </b> {{ form.reward }}
    </div>
    <div class="fieldWrapper">
      <b>Expected replies: </b> {{ form.expected_reply }}
    </div>
    <div class="fieldWrapper">
      <b>You can also include an image in your query:</b> {{ form.upload_file }}
    </div>
    </p>
    <input type="hidden" name="user_email" value="{{ user.email }}" />
    <p>
      <button class="btn" type="submit" name="post" value="False">Check existing</button>
      <button class="btn btn-primary" type="submit" name="post" value="True">Submit</button>
    </p>
    </form>

    {% if is_login_error %}
      <hr>
      Login error: You have to sign in before posting a query.
    {% endif %}

    {% if is_post %}
      <hr>
      Your query "{{ query.content }}" has been sent. <br>
      Location has been identified as ({{ query.interest_location_lat }}, {{ query.interest_location_lng }})
      
    {% endif %}

    {% if is_cache %}
      <hr>
      <p>
        We have found similar queries in our system. You can view responses of these matched queries through the following links<br>
        {% for query in queries %}
            "{{ query.content }}" (posted at {{ query.requested_time }} by {{ query.requester.google_account }}) <a href="/response?query_id={{ query.id }}">view responses</a> <br>
        {% endfor %}
        You can also <a href="/query?{{ parameter }}">reload here</a>
      </p>
    {% endif %}

    {% if is_check %}
      <hr>
      <p>
        {{ query_count }} queries exist in our database. Here's the first {{ queries|length }}.
      </p>
    {% load tz %}
        {% for query in queries %}
          <img src="/static/query.jpg" height="64" width="64" class="img-rounded">
          {{ query.content }} at ({{ query.interest_location_lat }}, {{ query.interest_location_lng }})? (posted at {{ query.requested_time }} by {{ query.requester.google_account }})  <a href="/response?query_id={{ query.id }}">view responses</a> 
          <br>
        {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/assets/js/bootstrap.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#browserid').bind('click', function(e) {
          e.preventDefault();
          navigator.id.getVerifiedEmail(function(assertion) {
            if (assertion) {
              var $e = $('#id_assertion');
              $e.val(assertion.toString());
              $e.parent().submit();
            }
          });
        });
      });
    </script>
  </body>
</html>
