<!DOCTYPE html>
<html>
  <head>
    <title>Video segments cookie generator</title>
    <!-- Bootstrap -->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/css/docs.css" rel="stylesheet">
    <link href="/static/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  </head>

  <body>
    <h1>QuiltView responses</h1> <hr>
    <b> {{ query.content }} </b>
  
    <p>
      {{ responses|length }} responses found.
    </p>
    {% load tz %}
    {% for response in responses %}
        <a href="{{ response.url }}">{{ response.url }}</a> uploaded by {{ response.owner.google_account }} at {{ response.upload_time }}.
      <br>
    {% endfor %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/assets/js/bootstrap.js"></script>
  </body>
</html>
